@import "../valo/valo.scss";

@mixin justlistapp {
	@include valo;


		.backColorWhite{
			background-color:white;
		}

	.backColorAqua{
		background-color:aqua;
	}

	.backColorPurple{
		background-color: rosybrown;
	}


	/* Add your theme selectors here */
}
